<h1><%= @card.name %></h1>
<em class="pull-right"> by <%= @card.user.name %> </em>

<p>
  <% markdown @card.content %>
</p>

<% if current_user and current_user.id == @card.user.id %>
<%= link_to 'Edit', edit_card_path(@card) %> |
<% end %>
<%= link_to 'Back', cards_path %>
